html {
    font-size: 1em;
}

body {
    background-color: #000000;
}

div#time,
div#day,
div#date {
    color: #191919;
    text-align: center;
}


div#time {
    color: #1D1909;
    font-size: 18rem;
}

div#day {
    color: #001E25;
    font-size: 14rem;
    text-transform: uppercase;
}

div#date {
    font-size: 14rem;
}